:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 5px;
}


.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  gap: 14px;
  align-items: center;

  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #1f1f1f98;
  color: #aaa;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

ul {
  display: grid;
  gap: 4px;
  list-style-type: none;
  margin: 0;
}

hr {
  width: 100%;
  margin: 1.5em;
}

.button-section {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#list-section {
  flex-grow: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-y: auto;
  max-height: 64vh;
  width: 100%;
}

.extension-list-item {
  margin-left: 3px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
